<section class="hero">
  <div class="hero-logo">
    <img src="izibuild_logo.png" alt="izibuild-hero" />
  </div>
  <div class="hero-content">
    <h1>Elige, combina y cotiza tu PC ideal.</h1>
    <p>
      ¿Poca experiencia? No hay problema. izibuild te ayuda a armar tu
      computadora perfecta para gaming, oficina o edición. Compatible y dentro
      de tu presupuesto.
    </p>
    <button class="hero-button" (click)="goToSearchProduct()">
      Empieza a armar tu PC >>
    </button>
  </div>
</section>
